<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

<!-- 	<listener> -->
<!-- 		<listener-class>org.jboss.weld.environment.servlet.Listener</listener-class> -->
<!-- 	</listener> -->

<!-- 	<resource-env-ref> -->
<!-- 		<resource-env-ref-name>BeanManager</resource-env-ref-name> -->
<!-- 		<resource-env-ref-type>javax.enterprise.inject.spi.BeanManager</resource-env-ref-type> -->
<!-- 	</resource-env-ref> -->

<!-- 	<context-param> -->
<!-- 		<param-name>resteasy.injector.factory</param-name> -->
<!-- 		<param-value>org.jboss.resteasy.cdi.CdiInjectorFactory</param-value> -->
<!-- 	</context-param> -->

<!-- 	<servlet> -->
<!-- 		<servlet-name>MicroverseRestServer</servlet-name> -->
<!-- 		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class> -->
<!-- 		<init-param> -->
<!-- 			<param-name>javax.ws.rs.Application</param-name> -->
<!-- 			<param-value>com.airepublic.microservice.rest.server.ServiceServerApplication</param-value> -->
<!-- 		</init-param> -->
<!-- 		<load-on-startup>1</load-on-startup> -->
<!-- 	</servlet> -->

<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>MicroverseRestServer</servlet-name> -->
<!-- 		<url-pattern>/server/*</url-pattern> -->
<!-- 	</servlet-mapping> -->

</web-app>